/* General styles */
.aligncenter {
  text-align: center;
}
.alignleft {
  float: left;
  text-align: left;
}
.alignright {
  float: right;
  text-align: right;
}
@media screen and (max-width: 600px) {
  .alignleft,
  .alignright {
    display: block;
    float: none;
    text-align: left;
  }
}

/* Header right */
@media screen and (min-width: 951px) {
  #header-right {
    float: right;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 951px) {
  #header-right {
    display: none;
  }
}

/* Navigation */
.menu-item-has-children > a::after {
  background-image: url(../img/angle-arrow-down.png);
  background-image: url(../img/angle-arrow-down.svg);
  background-position-y: 1px;
  background-size: 100%;
  content: '';
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-left: 5px;
}
.menu-item-has-children:hover .sub-menu {
  display: block;
}
@media screen and (max-width: 951px) {
  .menu-item-has-children .sub-menu {
    display: block;
  }
}

/* Site Info */
.site-info {
  text-align: center;
}
